<div id="panel" class="o1"></div>
			<ul class = "pan_instr">
			<br> <br> <br>
				
					<li><a ui-sref="navigate.layer" ui-sref-active="active" class = "pan_instr_z_nv">
						<img title="CHANGE LAYER" src="images/menu/layer.png">
					</a></li>
					<br>
					<li><a ui-sref="navigate.zp" class = "pan_instr_z_v">
						<img title="ZOOM +" src="images/menu/zoomp.png">
					</a></li>
					<li><a ui-sref="navigate.zm">
						<img title="ZOOM -" src="images/menu/zoomm.png">
					</a></li>
					<li><a ui-sref="navigate.navig" ui-sref-active="active"  class="pan_instr_z_n">
						<img src="images/menu/heand.png">
					</a></li>
					<br>
					<li><a ui-sref="navigate.drawpoint" ui-sref-active="active" class="pan_instr_z_v">
						<img title="" src="images/menu/point.png">
					</a></li>
					<li><a ui-sref="navigate.drawline" ui-sref-active="active" class="pan_instr_z_n">
						<img title="" src="images/menu/line.png">
					</a></li>
					<br>
					
					<li><a style="cursor:pointer;" class="pan_instr_z_nv change-rad" ng-class="{'active': getItem().class}">
						<img title = "" src="{{getItem().img}}">
					</a>
							<ul class = "sub-menu">
								<li><a ui-sref="navigate.drag">
									<img title="" src="images/menu/drag.png">
								</a></li>
								<li><a ui-sref="navigate.rotatter">
									<img title="" src="images/menu/rotate.png">
								</a></li>
								<li><a ui-sref="navigate.attrib">
									<img title="" src="images/menu/infr.png">
								</a></li>
								<li><a ui-sref="navigate.deleter" class="pan_instr_z_n">
									<img title="" src="images/menu/delete.png">
								</a></li>
							</ul>
					</li>
					<br>
					<li><a ui-sref="navigate.inform" ui-sref-active="active" class = "pan_instr_z_v">
						<img title="" src="images/menu/inform.png">
					</a></li>
					<li><a ui-sref="navigate.messure" ui-sref-active="active" class="pan_instr_z_n">
						<img title="" src="images/menu/mesur.png">
					</a></li>
			</ul>	